.map-container {
    position: relative;
    margin-top: 50px;

}

.contact {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: white;
    left: 400px;
    top: 250px;
}

.text-contact, p, .contact span {
    color: black;
    padding: 8px;
}

p, span:hover {
    cursor: pointer;
}

.inst-logo {
    width: 30px;
    height: 30px;
}