.uns{
display: inline-flex;
    position: relative;
    margin-left: 101px;
    margin-top: 31px;
}
.p{
color: black;
    display: inline;
    font-size: 18px;
    color: #4c4d4f;
}
.h2{
    color: black;
    position: absolute;
    left: 1%;
    color: #4c4d4f;
    font-size: 36px;


}
.img{
    width: 620px;
    height: 350px;
}
