.text-my {
    color: black;
}
.my-container{
    overflow: auto;
}
.th-atom {
    color: #4c4d4f;
    font-size: 18px;
    font-family: 'Gotha', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.th-elem {
    color: #4c4d4f;
    z-index: 7;
    top: 370px;
    width: 130px;
    font-size: 45px;
}
.th-atom-img1 {
    width: 700px;
    height: 300px;
    position: relative;
    top: -50px;

}