.uns{
font-size: 35px;
    display: block;
    position: absolute;
left: 33%;
}
.p{
 word-wrap: break-word;
    font-size: 20px;
}
.img{
 width: 450px;
    height: 250px;
}
body{
    color: black;
}
.ml{
    margin-left: 24%;
    display: inline-flex;

}