.nav-items, .nav-settings {
    display: flex;
    list-style: none;
}
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
}

.logo {
    order: -1;
    width: 120px
}

.navbar li {
    padding: 0 15px;
}

.navbar li a{
    color: inherit;
    font-weight: bold;
}

.navbar li .line {
    height: 2px;
    display: block;
    background-color: #ff8562;
    width: 0;
    margin: auto;
    transition: width 0.5s;
}

.navbar li:hover .line {
    width: 100%;
}
.nav-settings li:hover a {
    color: #ff8562;
}

.navbar .nav-container {
    justify-content: initial;
}
.nav-items {
    margin-left: auto;
    padding-right: 10px;
}
.nav-settings {
    border-left:1px solid white ;
    padding-left:10px ;
}

