.blog p {
    color: black;
}

.blog {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.news {
    position: relative;
    top: 0;
    font-size: 50px;
    left: -0px
}

.news-container {
    box-sizing: border-box;
    width: 350px;
    height: 540px;
    background-color: #f3f5f5;
    border-radius: 3%;
    color: #4c4d4f;
    line-height: 1.5;
    font-family: 'Gotha', Arial, sans-serif;
    transition: box-shadow 0.2s;
}

.news-container:hover {
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.10);
}

.img-news {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

h2 {
    color: black;

}

.th-item {
    margin: 9px;
    margin-top: 8px;

}

.t778_des {
    margin: 9px;
}
